* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
#root {
  height: 100%;
}

html,
body {
  min-height: 100vh;
  height: 100%;
}

.header {
  padding: 10px;
  font-size: 50px;
  text-align: left;
}

.toggle {
  font-size: 50px;
  float: right;
}

.App.dark {
  background-color: rgb(48, 48, 122);
  color: #999;
  height: 100%;
  transition: background-color 0.25s ease-in-out;
  background: url(https://t3.ftcdn.net/jpg/00/76/37/40/240_F_76374063_IFPNeAjCKygw1rS4Xd0jqApo7VGQNxiV.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App.light {

  background-color: rgb(242, 142, 226);
  color: #333;
  height: 100%;
  transition: background-color 0.25s ease-in-out;
  background: url(https://t4.ftcdn.net/jpg/02/98/07/45/240_F_298074532_2fWgogwkAlLlvn6K5OA9Uj5smFGWGuO8.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

.grid-container {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.list {
  list-style-type: none;
}

.flex-container {
  display: flex;

  flex-flow: row-wrap;
  justify-content: space-around;
}