* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
#root {
  height: 100%;
}

html,
body {
  min-height: 100vh;
  height: 100%;
}

.header {
  padding: 10px;
  font-size: 50px;
  text-align: left;
}

.toggle {
  font-size: 50px;
  float: right;
}

.App.dark {
  background-image: linear-gradient(to top, #FD8046, #191044);
  color: #999;
  height: 100%;
  transition: background-image 0.25s ease-in-out;
}

.App.light {

  /* background-color: rgb(242, 142, 226); */
  background-image: linear-gradient(to top, #f5c1e2,#ecbc8cad, #9ab6ee);
  color: #333;
  height: 100%;
  transition: background-image 0.25s ease-in-out;


}

.grid-container {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.list {
  list-style-type: none;
}

.flex-container {
  display: flex;

  flex-flow: row-wrap;
  justify-content: space-around;
}